<h1>Добавить новый телефон</h1>

<%= form_for @number, :html => {:class => "form-horizontal"} do |f| %>
  <div class="row">
    <div class="pull-right">
      <%= f.submit "Добавить", :class => "btn btn-primary" %> 
      <%= link_to "Отмена", numbers_path, :class => "btn" %>
    </div>
  </div>
  <%= render 'fields', :f => f %>
<% end %>


<h1>Numbers#new</h1>
<p>Find me in app/views/numbers/new.html.erb</p>
